In [2]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.svm import SVC
from sklearn.metrics import f1_score,confusion_matrix,make_scorer
from sklearn.model_selection import GridSearchCV, cross_val_score
from sklearn.model_selection import cross_val_predict

In [5]:
score_data=pd.read_csv('E:/Ramya/brushUps/Basics/ML using sklearn/Projects/Wine_quality/Classification/score_comparison.csv',delimiter=',')
data=pd.read_csv('E:/Ramya/brushUps/Basics/ML using sklearn/Projects/Wine_quality/data/winequality-red.csv',delimiter=';')

In [7]:
score_data.sort_values(by=['features_count','f1_score'],ascending=[True,False],inplace=True)

In [8]:
score_data

,model,features_count,f1_score,features
10,SVM,2,0.772700,"alcohol,sulphates"
8,SVM,3,0.760000,"volatile acidity, sulphates, alcohol"
9,SVM,3,0.745700,"fixed acidity, volatile acidity, pH"
7,SVM,4,0.793300,"alcohol,sulphates,total sulfur dioxide,volatil..."
6,SVM,6,0.780000,"fixed acidity, volatile acidity, citric acid, ..."
5,SVM,7,0.758900,"fixed acidity, volatile acidity, residual suga..."
4,SVM,10,0.797800,"fixed acidity, volatile acidity,citric acid,re..."
0,SVM,11,0.797223,"fixed acidity, volatile acidity,citric acid,re..."
1,Logistic regression,11,0.795143,"fixed acidity, volatile acidity,citric acid,re..."
2,KNN,11,0.778096,"fixed acidity, volatile acidity,citric acid,re..."
3,Decision Tree,11,0.737156,"fixed acidity, volatile acidity,citric acid,re..."